body{
    width: 100%;
    height: 100%;
}

#topImage {
    background-image: url(../../image/Header.jpg);
    height:250px;
    width:auto;
    background-repeat: no-repeat;
    background-size:cover;
}



#goodFinds{
    color:white;
    left: 250px;
    top:85px;
    position:relative;
    font-size: 48pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#leftImage {
    background-image: url(../../image/Library.jpg);
    /* width:960px; */
    /* position:relative; */
    height: 800px;;
    background-position: center;
    background-size:cover;
    width:50%
}

.p1 {
    color:white;
    font-size:38pt;
    text-align: right;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    white-space: pre;
}

.p2{
    color:white;
    font-size:38pt;
    text-align: left;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}


.pb{
    color:white;
    font-size:38pt;
    text-align: right;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 90px;
    white-space: pre;
}


.pm {
    color:white;
    font-size:38pt;
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 90px;
    white-space: pre;
}

#rightImage {
    background-image: url(../../image/Cinema.jpg);
    /* position:relative; */
    height: 800px;;
    background-position: center;
    Background-size:cover;
    width: 50%;
}



.buttons {
    width:100px;
    height:50px;
    position:relative;
    top:6.1%;
    left: 60%;

}

.btn1 {
    width:100px;
    height:30px;  
}

.searchDiv {
    position: relative;
    top: 10%;
    width: 100px;
    left:37%;
}

.searchText{
    text-align: center;
}


#foot{
    background-color: gray;
    text-align: center;
    height: 10%;
    width: 100%;
    padding-top:2%;
    padding-bottom: 2%;
}